h2{
  color:DarkBlue;
  font-family: 'Noto Serif', serif;
}

body{
  font-family: 'Montserrat', sans-serif;
}
                                                          /* Nav Bar */
.brand{
  color:red;
  font-size: 3rem;
  padding-left: 170px;
}

.items{
  padding-right: 120px;
}



                                                         /* Details section */
.Details{
  background-color: #f0ece3;
  padding: 90px 120px  50px 170px;
}

.information{
  margin:3% 0;
}

.bullets{
  padding-left: 20px;
  list-style-type: "⭐";
}

                                                          /* Controls Section */
.Controls{
  text-align: center;
  background-color: #d3c09a;
  padding:3% 0;
}
.input{
  margin:2% 1%;
  width: 30%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.btn{
  margin:2% 1%;
}
.controlsHeader{
  color:#f8f9fa;
  font-size:3rem;
}

                                                            /* Contact */
.Contact{
  text-align: center;
  padding:1% 0;
  background-color: #f8f9fa;

}
.icon{
    margin:20px 10px;
    color:#333333;
}
.icon:hover{
  color:red;
}
